$row_margin: 25px;

.row, .marg-btm {
	margin-bottom: $row_margin;
}

.marg-top {
	margin-top: $row_margin;
}

.clickable {
	cursor: pointer;
}

p {
	margin-bottom: 2em;
}

input[type="text"] {
	margin-bottom: $row_margin/2;
}

input[type="number"] {
	width: 50px;
}

textarea.code-output {
	height: 200px;
}

img {
	max-width: 100%;
}

.thumbnail.img-empty {
	height: 120px;
	background: #EAEAEA;
}

.page-header {
	background: #428bca;
	margin-top: 0;
	height: $row_margin*4;
	line-height: $row_margin*4;
	margin-bottom: $row_margin*2;
	h1 {
		color: #FFF;
		line-height: $row_margin*4;
		font-weight: 200;
		letter-spacing: 2px;
		margin:0;
		&:hover {
			color: #FFF;
		}
	}
}

.hero-row {
	display:none;
}

.delete-row {
	height:20px;
	margin-bottom: 5px;
}