$row_margin: 25px;

.row, .marg-btm {
	margin-bottom: $row_margin;
}

.marg-top {
	margin-top: $row_margin;
}

.clickable {
	cursor: pointer;
}

p {
	margin-bottom: 2em;
}

input[type="text"] {
	margin-bottom: $row_margin/2;
}

input[type="number"] {
	width: 50px;
}

textarea.code-output {
	height: 200px;
}

img {
	max-width: 100%;
}

.page-header {
	background: #428bca;
	margin-top: 0;
	height: $row_margin*4;
	line-height: $row_margin*4;
	margin-bottom: $row_margin*2;
	h1 {
		color: #FFF;
		line-height: $row_margin*4;
		font-weight: 200;
		letter-spacing: 2px;
		margin:0;
		&:hover {
			color: #FFF;
		}
	}
}

.tab-content {
	margin-bottom: $row_margin*2;
}

.hero-row {
	display:none;
}

.hero-preview {
	min-height: 180px;
	.hero-img-preview {
		position: relative;
		width: 151px;
		margin: 0 0 1em;
		&.img-empty {
			height: 155px;
			background: #EAEAEA;
		}
		&.single-img {
			width: 300px;
		}
	}
	.hero-text-preview {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 150px;
		padding: 5px;
		p {
			width: 100%;
			text-align: center;
			color: #FFF;
			background: rgba(0, 0, 0, 0.5);
			margin: 0;
			padding: 5px;
			line-height: 1.5em;
			text-shadow: 1px 1px 0px #000;
			letter-spacing: 0;
			font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
		}
	}
}